<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class=gold>
        <h1>Farm</h1>
        <p>(Earn 10-20 gold)</p>
        <button>Find Gold!</button>
    </div>
    <div class=gold>
        <h1>Cave</h1>
        <p>(Earn 5-10 gold)</p>
        <button>Find Gold!</button>
    </div>
    <div class=gold>
        <h1>House</h1>
        <p>(Earn 2-5 gold)</p>
        <button>Find Gold!</button>
    </div>
    <div class=gold>
            <h1>Casino</h1>
            <p>(Earn or loose 0-50 gold)</p>
            <button>Find Goldz!</button>
    </div>
</body>
</html>